{% extends "../base.html" %}
{% load static %}
{% block title %}Логи сайта{% endblock %}
{% block content %}
{% if user.is_authenticated %}
<div class="pt-16 w-full">
    <div class="w-screen">
        <div class="grid grid-cols-3 border-b border-gray-700 bg-gray-800">
            <div class="border-r border-gray-700 p-2.5">
                <center>
                    <h2 class="text-white">Чаты</h2>
                    <form class="max-w-xl w-full">
                        <div class="flex">
                            <input class="flex py-[6px] px-4 border-[#cccccc] outline-none w-full rounded-tl-[40px] rounded-bl-[40px] focus:border-lightblue" style="color:rgb(255, 255, 255);" type="search" placeholder="Поиск" id="searchfield-chatlist">
                            <button type="submit" class="py-2 px-5 bg-[#cccccc] dorder border-[#cccccc] border-l-0 rounded-tr-[40px] rounded-br-[40px]"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-cyan-950">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
                              </svg>
                              </button>
                        </div>
                    </form>
                </center>
            </div>
            <div class="col-span-2 p-2.5"> 
                <center>
                    <h2 class="text-white">Текущий чат</h2>
                </center>
            </div>
        </div>
        <div class="grid grid-cols-3 chat-box border-b border-gray-700 h-full">
            <div class="border-r border-gray-700 p-2.5 bg-gray-800">
                <div class="static-div-chat">
                    <ul role="list" class="divide-y divide-gray-100 scrollable-list-chatbox">
                        {% for User in Users2 %}
                        {% if User.user_id == current_user %}
                        <li class="flex justify-between gap-x-6 py-5 chat-friend" data-chat-id="{{ User.id }}">
                            <a>
                                <div class="flex min-w-0 gap-x-4">
                                    <img class="h-12 w-12 flex-none rounded-full bg-black" src="{% static './images/logo.png' %}" alt="Logo">
                                    <div class="min-w-0 flex-auto">
                                        <p class="mt-1 truncate text-xs leading-5 text-gray-500">
                                            <h3>Чат пользователя: {{ User.first_name }} {{ User.last_name }}</h3>
                                        </p>
                                    </div>
                                    </div>
                                    <div class="hidden shrink-0 sm:flex sm:flex-col sm:items-end">
                                </div>
                            </a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="button-add-chat bg-gray-700 rounded-lg p-2.5">
                    <center>
                        <h4 class="text-white">УПРАВЛЕНИЕ ЧАТАМИ</h4>
                    </center>
                </div>
            </div>
            <div class="col-span-2 h-full flex flex-col"> <!-- Форма чата -->
                <div class="flex-grow overflow-auto">
                    <div id="chat-messages-container" class="overflow-auto">
                        <div class="scrollable-list-messages">
                            <li class="message-container">
                                
                            </li>
                        </div>
                    </div>
                    <form id="send-message-form" class="flex items-center p-2.5 bg-gray-800">
                        <input type="text" style="color: #fff; background-color: #2A303C;" id="message-input" class="input input-bordered flex-grow mr-2" placeholder="Введите сообщение" required >
                                <div class="dropdown dropdown-top dropdown-end">
                                    <a tabindex="0" role="button" class="btn btn-primary rounded-r-none">
                                        <i class="fa-solid fa-paperclip">
                                        </i>
                                    </a>
                                    <ul style="background-color: #2a303c;" tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52 rounded-br-none">
                                      <li><a style="color: #fff;" class="open-file-video">Видео</a></li>
                                      <li><a style="color: #fff;" class="open-file-image">Изображение</a></li>
                                      <li><a style="color: #fff;" class="open-file-audio">Аудио</a></li>
                                    </ul>
                                  </div>
                        <button type="submit" class="btn btn-primary rounded-l-none">Отправить</button>
                    </form>
                </div>
            </div>            
        </div>
    </div>
</div>
<script>
    $(document).ready(function() {
    var chatId = null;
    var messageObserver = new MessageObserver();
    var previousMessages = [];
    loadlastMessage();

    function loadlastMessage() {
        {% for Chat in Chats %}
            $.ajax({
                url: '/get_messages/' + {{ Chat.id }} + '/',
                method: 'GET',
                success: function(data) {
                    $('.last-message-{{ Chat.id }}').empty();
                    var message = data[data.length-1];
                    if (!message || !message.type) {
                        return; // Skip this iteration if the message format is invalid
                    }
                    if (message.type == "message"){
                        $('.last-message-{{ Chat.id }}').append('<p><strong>' + message.sender + ':</strong> ' + message.content + '</p></>');
                    }
                    else if(message.type == "file"){
                        if (message.image){
                            $('.last-message-{{ Chat.id }}').append('<p><strong>' + message.sender + ':</strong> ' + message.title + ' <em>' + 'Изображение' + '</em></p></>');
                        }
                        else if (message.video){
                            $('.last-message-{{ Chat.id }}').append('<p><strong>' + message.sender + ':</strong> ' + message.title + ' <em>' + 'Видео' + '</em></p></>');
                        }
                        else if (message.audio){
                            $('.last-message-{{ Chat.id }}').append('<p><strong>' + message.sender + ':</strong> ' + message.title + ' <em>' + 'Аудио' + '</em></p></>');
                        }
                    }
                }
            });
        {% endfor %}
    }

    $('.chat-friend').on('click', function() {
        chatId = $(this).data('chat-id');
        $('.file-image-form input[name="Chat_id"]').val(chatId);
        $('.file-video-form input[name="Chat_id"]').val(chatId);
        $('.file-audio-form input[name="Chat_id"]').val(chatId);
        startLongPolling();
        loadlastMessage();

    });

    $('.button-add-chat').on('click', function() {
        event.preventDefault();
        var messageText = $('#message-input').val();
        $.ajax({
            url: '/add-new-chat/',
            method: 'POST',
            data: JSON.stringify({ chat_id: chatId, text: messageText }),
            contentType: 'application/json'
        });
    });

    $('#send-message-form').submit(function(event) {
        event.preventDefault();
        if (chatId) {
            var messageText = $('#message-input').val();
            $.ajax({
                url: '/tgwb/send-message/',
                method: 'POST',
                data: JSON.stringify({ chat_id: chatId, text: messageText }),
                contentType: 'application/json',
                success: function() {
                    $('#message-input').val('');
                    startLongPolling();
                    loadlastMessage();
                }
            });
        } else {
            alert("Пожалуйста, выберите чат");
        }
    });

    function startLongPolling() {
    if (chatId) {
        $.ajax({
            url: '/get-messages/' + chatId + '/',
            method: 'GET',
            success: function(data) {
                if (!arraysEqual(previousMessages, data)) {
                    $('.scrollable-list-messages').empty();
                    console.log(data);
                    for (var i = 0; i < data.length; i++) {
                        var message = data[i];
                        var messageHtml = '';
                        if (!message || !message.type) {
                            console.error("Invalid message format:", message);
                            continue; // Skip this iteration if the message format is invalid
                        }

                        if (message.type === "message") {
                            messageHtml += '<li class="message-container ' + ("{{user}}" == message.sender ? 'sender' : 'receiver') + '">';
                            messageHtml += '<p><strong>' + message.sender + ':</strong> ' + message.content + '</p>';
                            messageHtml += '<span class="message-timestamp">' + message.creation_date + '</span>';
                            messageHtml += '</li>';
                        } else if (message.type === "file") {
                            messageHtml += '<li class="message-container ' + ("{{user}}" == message.sender ? 'sender' : 'receiver') + '">';
                            messageHtml += '<p><strong>' + message.sender + ':</strong> ' + message.title + '</p>';

                            if (message.image) {
                                messageHtml += '<img src="' + message.image + '" style="max-height:200px;">';
                            } else if (message.video) {
                                messageHtml += '<video width="320" height="240" controls><source src="' + message.video + '" type="video/mp4"></video>';
                            } else if (message.audio) {
                                messageHtml += '<audio controls><source src="' + message.audio + '" type="audio/mpeg"></audio>';
                            }

                            messageHtml += '<span class="message-timestamp">' + message.creation_date + '</span>';
                            messageHtml += '</li>';
                        }

                        $('.scrollable-list-messages').append(messageHtml);
                    }
                    previousMessages = data;
                    messageObserver.notify(data);
                }
                // startLongPolling();
            },
            error: function() {
                setTimeout(startLongPolling, 5000);
            }
        });
    }
}

function arraysEqual(arr1, arr2) {
    if (arr1.length !== arr2.length) return false;
    for (var i = 0; i < arr1.length; i++) {
        if (!objectsEqual(arr1[i], arr2[i])) return false;
    }
    return true;
}

function objectsEqual(obj1, obj2) {
    var obj1Props = Object.getOwnPropertyNames(obj1);
    var obj2Props = Object.getOwnPropertyNames(obj2);

    if (obj1Props.length !== obj2Props.length) return false;

    for (var i = 0; i < obj1Props.length; i++) {
        var propName = obj1Props[i];
        if (obj1[propName] !== obj2[propName]) return false;
    }

    return true;
}



    function MessageObserver() {
        this.subscribers = [];

        this.subscribe = function(callback) {
            this.subscribers.push(callback);
        };

        this.notify = function(data) {
            this.subscribers.forEach(function(callback) {
                callback(data);
            });
        };
    }

    messageObserver.subscribe(function(data) {
        console.log("Messages updated:", data);
    });

    setInterval(startLongPolling, 5000);

    
});
</script>
{% else %}
<div class="pop-up-background-files fixed inset-0 flex justify-center items-center bg-black bg-opacity-50 z-50">
    <div class="pop-up-card-login" style="padding-top: 1%;"> <!-- Модальное окно "Для не зарегистрированного пользователя" -->
        <center style="margin-bottom: 5%;">
            <h2 style="display: inline-block;">!!ТРЕБУЕТСЯ ВХОД!!</h2>
        </center>
        <center>
            <a href="{% url "users:loginPage" %}" class="btn btn-primary" style="width: 50%; margin-bottom: 10%;">ВХОД</a>
        </center>
        <center>
            <a href="{% url "users:signUp" %}" class="btn btn-primary" style="width: 50%;">РЕГИСТРАЦИЯ</a>
        </center>
    </div>
</div>
{% endif %}

{% endblock %}
